# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# Cmake
!CMakeLists.txt
!/cmake/
/cmake/*
!/cmake/cmake_uninstall.cmake.in

# Source
!/src/
/src/*

# Headers
!/include/
/include/*

# qp
!/include/krang-qp/
/include/krang-qp/*

# Controller
!/src/Controller.cpp
!/include/krang-qp/Controller.hpp

# filter
!/include/krang-qp/filter.hpp

# id
!/src/id.cpp
!/include/krang-qp/id.hpp

# ik
!/src/ik.cpp
!/include/krang-qp/ik.hpp

# qp
!/src/qp.cpp
!/include/krang-qp/qp.hpp
